.Ecosmart{
    background-color: white;
}
.navbar{

    display: flex;
    justify-content: center;
    gap: 20px
}
.navbar > a {
    margin-top: 40px;
    font-size: 15px;
    color: #7ead9a;
    padding: 5px 5px;
    border: 2px solid #7ead9a;
    border-top: none;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.navbar > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: white;
    background-color: #5db491;
    transition: height 0.3s ease-out;
    z-index: -1;
}

.navbar > a:hover::before {
    height: 100%;
}

.navbar > a:hover {
    color: white;
}

.nav-comm{
    display: none;
}

.remove{
    display: none;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    gap: 20px
}
.search{
    padding: 10px 150px;
    border-radius: 100px;
    background-color:#F5F5F5 ;
    border: none;
}
.search-container {
    display: flex;
    align-items: center;
    background-color:#F5F5F5 ;
    border: none;
  }
.cardscontainer{
    display: flex;
    height: 60vh;
}
.content{
    opacity: 0;
}
.card{
    transition: all 0.3s;
    flex:1;
    text-align: center;
    align-content: start;
    overflow: hidden;
    position: relative;
}

.cover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Animação de fade e delay na visibilidade */
  }
.card:hover {
    flex:3;

}
.contentbox{
    color:white;
}
.card:hover .contentbox{
    animation: appearing 0.3s ease forwards;
}
.card:hover .cover{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;

}
.card:hover .content{

    opacity: 1;
    transition: opacity 0.5s ease-in
  
  }

@keyframes appearing{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-35vh)
    }
}

/* @keyframes disapearing{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(-1000px)
    }
} */
